DATABASE_URL="postgres://31c21bdca4c019f53a70d0317db656dd87814e6b9fb3485a51d82da9f496a6fb:sk_uXx-tQD5YtmXb6hFAvus9@db.prisma.io:5432/postgres?sslmode=require"

JWT_ACCESS_SECRET: test_1;
JWT_REFRESH_SECRET: test_2;

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=utilizatorul_tau
MAIL_PASS=parola_ta